@page "/orders"

@inject HttpClient Http
@inject NotificationService notification

<h3>Sales Order List</h3>

<div>
    <RadzenDataGrid Data="@salesOrders" TItem="SalesOrderDto"
                    AllowSorting="true" AllowColumnResize="true"
                    AllowFiltering="true" FilterMode="FilterMode.CheckBoxList"
                    AllowPaging="true" PageSize="10">
        <Columns>
            <RadzenDataGridColumn TItem="SalesOrderDto" Property="SalesOrderRef" Title="Sales Order Ref" />
            <RadzenDataGridColumn TItem="SalesOrderDto" Property="OrderDate" Title="Order Date" FormatString="{0:MM/dd/yyyy}" />
            <RadzenDataGridColumn TItem="SalesOrderDto" Property="Currency" Title="Currency" />
            <RadzenDataGridColumn TItem="SalesOrderDto" Property="CategoryCode" Title="Category" />
            <RadzenDataGridColumn TItem="SalesOrderDto" Title="Actions" Filterable="false">
                <Template Context="salesOrder">
                    <RadzenButton Text="Edit" Click="@(args => EditSalesOrder(salesOrder))"
                                  Icon="edit" Style="margin-right: 10px;" />
                    <RadzenButton Text="Delete" Click="@(args => DeleteSalesOrder(salesOrder.Id))"
                                  Icon="delete" ButtonStyle="ButtonStyle.Danger" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>

<RadzenNotification />
